<%= render "layouts/navbar" %>
<body style="font-family: 'Lato', sans-serif;">
<title> Edit Sacred Heart Entry </title>

<h1>Edit Sacred Heart Entry</h1>

<%= render 'form', sacred_heart: @sacred_heart %>

<%= link_to 'Show', @sacred_heart %> |
<%= link_to 'Back', sacred_hearts_path %>

</body>
<%= render "layouts/footer"%>
<%= yield %>
