
<%= render "layouts/navbar" %>
<body style="font-family: 'Lato', sans-serif;">
<title> Sacred Heart Community Service </title>


<p id="notice"><%= notice %></p>

<h1>Sacred Heart Community Service</h1>
<p> <%= link_to 'New Entry', new_sacred_heart_path %> </p>
<br>
    <% @sacred_hearts.each do |sacred_heart| %>
      <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%= image_tag(sacred_heart.photo) %>
            <br />
            <p><i><strong> Name: </strong></i><%= sacred_heart.name %> </p>
            <p><i><strong> Age: </strong></i><%= sacred_heart.age %> </p>
            <br />
          </div>
          <div class="col-md-6">
            <%= sacred_heart.summary %>
          </div>
          <div class="col-md-2">
            <td><%= link_to 'Learn More', sacred_heart %></td> |
            <td><%= link_to 'Edit', edit_sacred_heart_path(sacred_heart) %></td> |
            <td><%= link_to 'Delete', sacred_heart, method: :delete, data: { confirm: 'Are you sure you wish to delete this entry?' } %></td>
          </div>
      </div>
    <% end %>
<br>

</body>
<%= render "layouts/footer"%>
<%= yield %>
