
<%= render "layouts/navbar" %>
<body style="font-family: 'Lato', sans-serif;">
<title> New Sacred Heart Entry</title>

<h1>New Sacred Heart Entry</h1>
<br >
<%= render 'form', sacred_heart: @sacred_heart %>

<%= link_to 'Back', sacred_hearts_path %>

</body>
<%= render "layouts/footer"%>
<%= yield %>
