<body>
<%= render "layouts/navbar" %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sacred_heart.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sacred_heart.age %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @sacred_heart.summary %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@sacred_heart.photo) %>
</p>

<p>
  <strong>Story:</strong>
  <%= @sacred_heart.story %>
</p>

<p>
  <strong>Goalamount:</strong>
  <%= @sacred_heart.goalAmount %>
</p>

<p>
  <strong>Donationdest:</strong>
  <%= @sacred_heart.donationDest %>
</p>

<p>
  <strong>Locationcounty:</strong>
  <%= @sacred_heart.locationCounty %>
</p>

<div class="row">
  <div class="col-md-2 col-md-offset-5 text-center">
    <%= link_to 'Edit', edit_sacred_heart_path(@sacred_heart) %> |
    <%= link_to 'Back', sacred_hearts_path %>
  </div>
</div>

<br>

<div class="row">
    <div class="center-block">
      <a href="https://www.paypal.com/us/home" target="_blank"><button type="button" class="btn btn-primary btn-lg">Lend <%= @sacred_heart.name %> a helping hand today!  <span class="glyphicon glyphicon-heart"></span></button></a>
    </div>
</div>

<%= render "layouts/footer"%>
<%= yield %>
</body>
