<body>
<%= render "layouts/navbar" %>
<div id="container">
  <h1>Charities</h1>
  <br />
  <div class="row">
    <div class="col-md-4">
      <a href="/firehouses"><%= image_tag("FCDC-logo.jpeg", size: "300x300") %><h3 class="organization">Firehouse San Jose</h3></a><p><a href="http://www.the-firehouse.org/">Learn More!</a></p>
    </div>
    <div class="col-md-4">
      <a href="/catholic_charities"><%= image_tag("CC-logo.jpeg", size: "300x300") %><h3 class="organization">Catholic Charities</h3></a><p><a href="https://www.catholiccharitiesscc.org/">Learn More!</a></p>
    </div>
    <div class="col-md-4 column-centered">
      <a href="/sacred_hearts"><%= image_tag("SHCS-logo.jpeg", size: "400x300") %><h3 class="organization">Sacred Heart Communiy Service</h3></a><p><a href="https://www.catholiccharitiesscc.org/">Learn More!</a></p>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
<%= yield %>
</body>
