<%= render "layouts/navbar" %>
<head>
  <title>Team</title>
</head>

<body style="font-family: 'Lato', sans-serif;">
  <div id="team-container">
    <h1 style="font-family: 'Lobster', cursive;text-align:center;font-size: 75px;"> Our Team </h1>
    <p style="color:grey;text-align:center;">Learn more about the developers behind this site!</p>
    </hr>
    </br>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h2 style="text-align:center;"><a href="https://www.linkedin.com/in/jroof88/" target="_blank">John Roof</a></h2><br>
        <%= image_tag("JawnRoof.jpeg", size: "200x200", style: "border-radius:25%;display:block;margin:auto;") %><br>
        <p style="text-align:center;"> Orignally from Connecticut, Jack is a senior Computer Science major at Santa Clara University with an emphasis in software. His interest are Software Engineer & Web Development.</p>
      </div>
      <div class="col-md-5" style="align:center;">
          <h2 style="text-align:center;"><a href="https://www.linkedin.com/in/aleishanelson/" target="_blank">Aleisha Nelson</a></h2><br>
          <%= image_tag("AleishaNelson.jpeg", size: "200x200", style: "border-radius:25%;display:block;margin:auto;") %><br>
          <p style="text-align:center;"> Orignally from Minnesota, Aleisha is a senior Computer Science major and Communication minor at Santa Clara University. Her interests lie in Web Development & Front-End UI/UX design.</p>
      </div>

    </div>
  </body>
<%= render "layouts/footer"%>
<%= yield %>
