<%= render "layouts/navbar" %>
<head>
  <title>Team</title>
</head>

<body style="font-family: 'Lato', sans-serif;">
  <div id="team-container">
    <h1 class="navbar-brand" style="color:grey;text-align:center;"> Our Team: </h1>
    <p style="color:grey;text-align:center;">Learn more about the developers behind this site!</p>
    </hr>
    </br>
    <div class="row">
      <div class="col-md-3">
          <h2 style="text-align:center;"><a href="https://www.linkedin.com/in/aleishanelson/" target="_blank">Aleisha Nelson</a></h2>
          <%= image_tag("AleishaNelson.jpeg", size: "200x200", style: "border-radius:100%") %>
          <p style="text-align:center;"> Senior Computer Science major and Communication minor at Santa Clara University.</p>
        </div>

      <div class="col-md-3">
        <h2 style="text-align:center;"><a href="https://www.linkedin.com/in/rafal-chowaniec-67154293/" target="_blank">Rafal Chowaniec</a></h2>
        <%= image_tag("RafalChowaniec.jpeg", size: "200x200", style: "border-radius:100%") %>
        <p style="text-align:center;"> Senior Economics and Math Double major and Computer Science minor student at Santa Clara University.</p>
      </div>

      <div class="col-md-3">
        <h2 style="text-align:center;"><a href="https://www.linkedin.com/in/jroof88/" target="_blank">John Roof</a></h2>
        <%= image_tag("JawnRoof.jpeg", size: "200x200", style: "border-radius:100%;") %>
        <p style="text-align:center;"> Senior Computer Science major at Santa Clara University.</p>
      </div>

    </div>
  </body>
<%= render "layouts/footer"%>
<%= yield %>
