
<%= render "layouts/navbar" %>
<title>Edit Catholic Charities Entry</title>
<body style="font-family: 'Lato', sans-serif;">



<h1>Editing Catholic Charity</h1>

<%= render 'form', catholic_charity: @catholic_charity %>

<%= link_to 'Show', @catholic_charity %> |
<%= link_to 'Back', catholic_charities_path %>

<%= render "layouts/footer" %>
<% yield %>
</body>
