<%= render "layouts/navbar" %>

<body style="font-family: 'Lato', sans-serif;">

<p id="notice"><%= notice %></p>

<h1>Catholic Charities</h1>
<p> <%= link_to 'New Entry', new_catholic_charity_path %> </p>
<br>
    <% @catholic_charities.each do |catholic_charity| %>
      <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <%= image_tag(catholic_charity.photo) %>
            <br />
            <p><i><strong> Name: </strong></i><%= catholic_charity.name %> </p>
            <p><i><strong> Age: </strong></i><%= catholic_charity.age %> </p>
            <br />
          </div>
          <div class="col-md-6">
            <%= catholic_charity.summary %>
          </div>
          <div class="col-md-2">
            <td><%= link_to 'Learn More', catholic_charity %></td> |
            <td><%= link_to 'Edit', edit_catholic_charity_path(catholic_charity) %></td> |
            <td><%= link_to 'Delete', catholic_charity, method: :delete, data: { confirm: 'Are you sure you wish to delete this entry?' } %></td>
          </div>
      </div>
    <% end %>
<br>

<%= render "layouts/footer"%>
<%= yield %>
</body>
