<body style="font-family: 'Lato', sans-serif;">
<%= render "layouts/navbar" %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catholic_charity.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @catholic_charity.age %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @catholic_charity.summary %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@catholic_charity.photo) %>
</p>

<p>
  <strong>Story:</strong>
  <%= @catholic_charity.story %>
</p>

<p>
  <strong>Goalamount:</strong>
  <%= @catholic_charity.goalAmount %>
</p>

<p>
  <strong>Donationdest:</strong>
  <%= @catholic_charity.donationDest %>
</p>

<p>
  <strong>Locationcounty:</strong>
  <%= @catholic_charity.locationCounty %>
</p>

<div class="row">
  <div class="col-md-2 col-md-offset-5 text-center">
    <%= link_to 'Edit', edit_catholic_charity_path(@catholic_charity) %> |
    <%= link_to 'Back', catholic_charities_path %>
  </div>
</div>

<br>

<div class="row">
    <div class="center-block">
      <a href="https://www.paypal.com/us/home" target="_blank"><button type="button" class="btn btn-primary btn-lg">Lend <%= @catholic_charity.name %> a helping hand today!  <span class="glyphicon glyphicon-heart"></span></button></a>
    </div>
</div>

<%= render "layouts/footer" %>
<% yield %>
</body>
